*.log
*.out

.DS_Store
.env
.envrc

__pycache__/
*.py[cod]
*.so
*.egg-info/
.pytest_cache/
.ruff_cache/

.venv/
venv/
env/
__pypackages__/

build/
dist/

checkpoints/
outputs/
runs/
wandb/
tensorboard/
